.span {
  text-shadow: 1px 1px white, 2px 2px #777;
  color: #333;
  transition: all 1s;
}
.span:hover {
  text-shadow: 1px 1px white, 2px 2px tomato;
  color: crimson;
}
.span:hover:before {
  animation: 5s move_lines infinite linear;
}
.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.btn {
  margin-left: 15px;
  background-color: #6cf270;
  color: rgb(136, 12, 25);
  width: 100px;
  height: 60px;
  border: none;
  font-size: 19px;
  border-radius: 100px;
  font-family: 'Raleway', sans-serif;
  transition: 0.6s;
  overflow: hidden;
}
.btn:focus {
  outline: 0;
}
