.form {
  max-width: 350px;
  margin: 20px 50px 0;
  padding: 20px;
  background: #faab1b;
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.label {
  font-size: 2.2rem;
  font-weight: bold;
  justify-content: center;

  margin-bottom: 10px;
}
.input {
  width: 85%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.btn {
  width: 85%;
  /* height: 50px; */
  padding: 10px;
  border: 1px solid rgb(227, 29, 29);
  border-radius: 5px;
  margin-bottom: 10px;
  background: rgb(244, 239, 135);
  color: #1a1812;
  font-weight: bold;
  font-size: 1.2rem;
}
